<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="org.travelers.mapper.GoodsMapper">

	<!-- sql문 모튤 -->
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='T'.toString()">
							gcode like '%'||#{keyword}||'%'
						</when>
						<when test="type=='C'.toString()">
							gname like '%'||#{keyword}||'%'
						</when>
						<when test="type=='W'.toString()">
							gtype like '%'||#{keyword}||'%'
						</when>
						<when test="type=='D'.toString()">
							to_char(gfromDate,'yyyy-mm-dd') like '%'||#{keyword}||'%'
						</when>
						<when test="type=='G'.toString()">
							gleader like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>	  		
	</sql>

	<insert id="insert">
		<if test="images!=null">	
			<![CDATA[
 				insert into goods(gcode,gname,gcost,gtype,gfromDate,gtoDate,gterm,gminQty,gmaxQty,gconfirmQty,gregDate
								 ,gdiscount,gdisRate,gconfirmCost,gtransit,gleader,gcnt,gcomments,gscore,uploadFile)
						   values((select concat(concat('T',to_char(sysdate,'yy')),nvl(trim(to_char(cast(substr(max(gcode),4) as int)+1,'0999999')),'0000001')) from goods)
							     ,#{gname},#{gcost},#{gtype},#{gfromDate},#{gtoDate},#{gterm},#{gminQty},#{gmaxQty},0,sysdate
						 	     ,#{gdiscount},#{gdisRate},#{gcost},#{gtransit},#{gleader},0,#{gcomments},0,#{images})
			]]>
		</if>
		<if test="images==null">	
			<![CDATA[
	 			insert into goods(gcode,gname,gcost,gtype,gfromDate,gtoDate,gterm,gminQty,gmaxQty,gconfirmQty,gregDate
								 ,gdiscount,gdisRate,gconfirmCost,gtransit,gleader,gcnt,gcomments,gscore)
						 	values((select concat(concat('T',to_char(sysdate,'yy')),nvl(trim(to_char(cast(substr(max(gcode),4) as int)+1,'0999999')),'0000001')) from goods)
						         ,#{gname},#{gcost},#{gtype},#{gfromDate},#{gtoDate},#{gterm},#{gminQty},#{gmaxQty},0,sysdate
						   	     ,#{gdiscount},#{gdisRate},#{gcost},#{gtransit},#{gleader},0,#{gcomments},0)
			]]>
		</if>
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="gcode" order="BEFORE" resultType="String">
				select concat(concat('T',to_char(sysdate,'yy')),nvl(trim(to_char(cast(substr(max(gcode),4) as int)+1,'0999999')),'0000001')) from goods
		</selectKey>

		<if test="images!=null">	
			<![CDATA[
	 			insert into goods(gcode,gname,gcost,gtype,gfromDate,gtoDate,gterm,gminQty,gmaxQty,gconfirmQty,gregDate
								 ,gdiscount,gdisRate,gconfirmCost,gtransit,gleader,gcnt,gcomments,gscore,uploadFile)
						   values(#{gcode},#{gname},#{gcost},#{gtype},#{gfromDate},#{gtoDate},#{gterm},#{gminQty},#{gmaxQty},0,sysdate
				 	     	     ,#{gdiscount},#{gdisRate},#{gcost},#{gtransit},#{gleader},0,#{gcomments},0,#{images})
			]]>
		</if>
		<if test="images==null">	
			<![CDATA[
	 			insert into goods(gcode,gname,gcost,gtype,gfromDate,gtoDate,gterm,gminQty,gmaxQty,gconfirmQty,gregDate
								 ,gdiscount,gdisRate,gconfirmCost,gtransit,gleader,gcnt,gcomments,gscore)
					       values(#{gcode},#{gname},#{gcost},#{gtype},#{gfromDate},#{gtoDate},#{gterm},#{gminQty},#{gmaxQty},0,sysdate
						   	     ,#{gdiscount},#{gdisRate},#{gcost},#{gtransit},#{gleader},0,#{gcomments},0)
			]]>
		</if>
	</insert>
 
	<select id="getList" resultType="org.travelers.domain.GoodsVO">
		<![CDATA[
	    	select * from goods where
		]]>
	  	<include refid="criteria"></include>
		<![CDATA[
			gcode is not NULL 
		    order by gcode desc
		]]>
	</select>

	<select id="getListWithPaging" resultType="org.travelers.domain.GoodsVO">
		<![CDATA[
			select gcode,gname,gcost,gtype,gfromDate,gtoDate,gterm,gregDate,gminQty,gmaxQty,gconfirmQty
				  ,gdiscount,gdisRate,gconfirmCost,gtransit,gleader,gcnt,gcomments,gscore
		 		  ,ceil(gscore*5/(select max(nvl(gscore,0)) from goods)) as gscore1
		 		  ,CASE WHEN gscore>100 THEN 5 ELSE ceil(gscore/20) END as gstar
		 		  ,uploadFile as images
			from
	    		(
				select /*+index_desc(goods pk_goods) */ 
	  			    rownum rn,gcode,gname,gcost,gtype,gfromDate,gtoDate,gterm,gregDate,gminQty,gmaxQty,gconfirmQty
					  	     ,gdiscount,gdisRate,gconfirmCost,gtransit,gleader,gcnt,gcomments,gscore,uploadFile
	  			from goods
	  			where
		]]>
		<include refid="criteria"></include>
		<![CDATA[
	  			rownum<=#{pageNum}*#{amount}
	  			)
	  		where rn > (#{pageNum}-1)*#{amount}
	  		order by gcode
		]]>
	</select>
 
	<update id="update">
		<![CDATA[
			update goods set gname        =#{gname}
							,gcost        =#{gcost}
							,gtype        =#{gtype}
							,gfromDate    =#{gfromDate}
							,gtoDate      =#{gtoDate}
							,gterm        =#{gterm}
							,gminQty      =#{gminQty}
							,gmaxQty      =#{gmaxQty}
							,gconfirmQty  =#{gconfirmQty}
							,gdiscount    =#{gdiscount}
							,gdisRate     =#{gdisRate}
							,gconfirmCost =#{gconfirmCost}
							,gtransit     =#{gtransit}
							,gleader      =#{gleader}
		]]> 
		<if test="images !=null">	
							,uploadFile=#{images}
		</if>						
		<![CDATA[
							,gcomments =#{gcomments}
			where gcode=#{gcode}
		]]> 
	</update>
 
	<delete id="delete">
		<![CDATA[
			delete from goods where gname=#{gname}
		]]>
	</delete>
 
	<select id="read" resultType="org.travelers.domain.GoodsVO">
		<![CDATA[
			select gcode
				  ,gname
				  ,gcost
				  ,gtype
				  ,gfromDate
				  ,gtoDate
				  ,gterm
				  ,gminQty
				  ,gmaxQty
				  ,gconfirmQty
				  ,gregDate
				  ,gdiscount
				  ,gdisRate
				  ,gconfirmCost
				  ,gtransit
				  ,gleader
				  ,gcnt
				  ,gcomments
				  ,gscore
				  ,uploadFile as images  
			from goods 
			where gcode=#{gcode}
		]]>
	</select>
 
	<select id="getTotalCount" resultType="int">
		<![CDATA[
			select count(*) from goods
			where
	  	]]>
	  	<include refid="criteria"></include>
	  	<![CDATA[
			gcode is not NULL 
		]]>
	</select>
 
	<select id="getGcode" resultType="String">
		<![CDATA[
			select concat(concat('T',to_char(sysdate,'yy')),nvl(trim(to_char(cast(substr(max(gcode),4) as int)+1,'0999999')),'0000001')) from goods
		]]>
	</select>
 
	<update id="updateGoodsCnt">
		<![CDATA[
			update goods set gcnt=nvl(gcnt,0)+1 where gcode=#{gcode}
		]]>
	</update>
	
	<update id="updateConfirmQty">
		<![CDATA[
			update goods set gconfirmQty = gconfirmQty+#{gconfirmQty} where  gcode = #{gcode}
		]]>
	</update> <!--  gconfirmQty <= gmaxQty -->

</mapper>