@charset "UTF-8";
/*메인*/
.main_visual{ clear:both; position:relative; width:100%; margin:0 auto;}
.main_visual .clfix {*zoom:1; width:100%;}
.main_visual .clfix:after {content:" "; display:block; clear:both;} 
.main_visual .album-wrap { width:100%; position:relative; height:410px; overflow:hidden; z-index:1;}
.main_visual .album-wrap ul.album { position:relative; z-index:1; height:410px;}
.main_visual .album-wrap ul.album li { float:left;} 
.main_visual .album-wrap ul.album li img{}
.main_visual .center_align{ margin:0 auto; width:1000px; overflow: hidden;}
.main_visual .prev:hover { background: url(../image/main_roll/visual_btn_prev_on.png) 0 0 no-repeat;}
.main_visual .next:hover { background: url(../image/main_roll/visual_btn_next_on.png) 0 0 no-repeat;}

.main_visual div.prev { float:left; width:64px; height:64px; line-height:200%;margin-top:164px;margin-left: -100px; position:absolute; z-index:10; background: url(../image/main_roll/visual_btn_prev.png) 0 0 no-repeat; cursor:pointer;}
.main_visual div.next { float:right; width:64px; height:64px; line-height:200%;margin-top:164px;margin-left: 1036px; position:absolute; z-index:10; background: url(../image/main_roll/visual_btn_next.png) 0 0 no-repeat; cursor:pointer;}

.main_visual .gray_layer{  z-index:6; margin-right:0; 	position:absolute; width:1000px;height: 410px; 
 background:#000;
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /*ie 옛날버전*/  
 filter: alpha(opacity=30); ie 브라우저  zoom:1;  
 opacity: 0.30; /*최근 브라우저*/; }

/* best_recom */

.m_contents_wrap { width:1000px; margin:0 auto;  overflow:hidden; box-sizing: border-box}
.m_contents_wrap a {display:block; cursor:pointer;}
.m_contents_wrap h3 { padding-bottom:15px;}
.m_contents_wrap h3 .tit {font-size:25px; color:#000; font-weight:400; display:inline-block; padding-right:15px; letter-spacing:-0.5px;}  
.m_contents_wrap h3 .t_english {font-size:12px; color:#505f68; font-weight:600; font-family:"Malgun Gothic"; display:inline-block;} 

.m_contents_wrap  .recom_tab {position:absolute; right:0px; top:0px;}
.m_contents_wrap  .recom_tab li {float:left;   background:url(../image/main/tab_product_bar.gif) no-repeat  center right; padding:0 10px 0 10px;}
.m_contents_wrap .recom_tab li:last-child{background:none;}
.m_contents_wrap  .recom_tab li.no_line {background:none;}
.m_contents_wrap  .recom_tab li a {display:block; font-size:15px; color:#2f2f2f; font-weight:400; border-top:3px solid #fff; height:30px; line-height:25px; padding-top:2px;}
.m_contents_wrap  .recom_tab li a:hover { color:#d53738;  border-top:2px solid #d53738;}
.m_contents_wrap  .recom_tab li.on a { color:#d53738;  border-top:2px solid #d53738;}


/*best_best*/
.best_best {position:relative; overflow:hidden; margin:60px 0px;}
.best_best ul{overflow:hidden; border: 1px solid #e7e7e7;}
.best_best li {display: inline-block; float:left; border-right: 1px solid #e7e7e7; box-sizing: border-box}
.best_best li:nth-child(3n) { border-right: none }
.best_best li a.m_best_info { float:left; margin:0; width:304px; height:360px; padding:14px; background:#fff;}
.best_best li .photo { display: block; width: 304px; position: relative}
.best_best li .photo img { width: 304px; height: 200px;}
.best_best li .photo .ranking_num { position: absolute; top: 0; right: 0; background: rgba(213,55,56,0.8);display:block; width:30px; height:30px; line-height:28px; text-align:center;color:#fff17f; font-size:16px}
.best_best li .exp { display: block; width: 304px; padding: 10px; box-sizing: border-box}
.best_best li .exp .title {font-size:15px; color:#353e44; font-weight:500; display:block; padding-bottom: 10px; height:34px; line-height:34px; overflow: hidden}
.best_best li .exp .txt {color:#636262; font-size:13px; line-height:20px; display:block; padding-bottom:10px; overflow:hidden; height:34px; font-weight:400;}
.best_best .exp .price { float:right; font-size:19px; color:#d53738; font-weight:500; display:block; font-family: 'Spoqa Han Sans'; padding:5px 0 0 0;}
.best_best .exp .price .s_price{color:#999; font-size:14px;}

/* m_recommend */

.m_recommend {/*height:395px;*/ position:relative; overflow:hidden; margin:60px 0px;}
.m_recommend .m_recom_info li {float:left; margin-right:20px; margin-bottom:20px; width:320px; height:365px; background:#f6f6f6; overflow:hidden;}
/*.m_recommend .last { margin-right:-11px !important;}*/
.m_recommend .m_recom_info li:nth-child(3n){margin-right:0;}
.m_recommend .m_recom_info dt { width:324px; height:216px; position:relative; background:#ebebeb url(../image/common/no_img_text.png) no-repeat  center 50%;}
.m_recommend .m_recom_info dd {padding:0 15px 0 15px;}
.m_recommend .m_recom_info dd .tit { font-size:15px; color:#353e44; font-weight:600; display:block; padding:15px 0 10px 0;}
.m_recommend .m_recom_info dd .txt {color:#636262; font-size:13px; line-height:20px; display:block; padding-bottom:10px; overflow:hidden; height:34px;}
.m_recommend .m_recom_info dd .price { float:right; font-size:19px; color:#d53738; font-weight:500; display:block; font-family: 'Spoqa Han Sans'; padding:5px 0 0 0;}
.m_recommend .m_recom_info dd .price .s_price{font-size:14px; color:#999}
.m_recommend .m_recom_info dd .text1 { font-size:16px; color:#d53738; font-weight:500; display:inline-block; height:25px; line-height:25px; padding:0 5px 0 2px;}

.m_recommend .m_recom_info dt .flag_best {position:absolute; top:0px; left:14px; display:block; width:35px; height:47px; text-align:center; padding-top:3px;}
.m_recommend .m_recom_info dt .flag_best .txt {color:#fff17f; font-family:Tahoma; font-size:10px; display:block;  }
.m_recommend .m_recom_info dt .flag_best .num {color:#fff; font-family:Verdana; font-size:18px; font-weight:bold;display:block; margin-top:-3px; }
.m_recommend .m_recom_info dt #f_best1 { background:url(../image/main/bg_best_red.png) no-repeat  0 0;}
.m_recommend .m_recom_info dt #f_best2 { background:url(../image/main/bg_best_blue.png) no-repeat  0 0;}
.m_recommend .m_recom_info dt #f_best3 { background:url(../image/main/bg_best_yellow.png) no-repeat  0 0;}


/* m_bbs_wrap */

.m_bbs_wrap  {clear:both; background:#666; width:100%; height:214px;  position:relative;}
.m_bbs_zone { margin:0 auto; width:1000px;}

.m_bbs_zone .m_notice { float:left;  width:300px; margin:15px 20px 0 30px;  } 
.m_bbs_zone .m_notice a {text-decoration:none;}
.m_bbs_zone .m_notice h3 { position:relative; border-bottom:1px solid #888; height:40px; line-height:40px;} 
.m_bbs_zone .m_notice h3 a strong {font-size:20px; color:#ffffff;   display:inline-block; margin-right:11px; font-weight:300;}
.m_bbs_zone .m_notice ul { overflow:hidden;   line-height:200%; font-size:12px; margin:0; padding:10px 0px 10px 0px;}
.m_bbs_zone .m_notice li {float:left; width:283px; background:url(../image/main/m_bbs_point.gif) no-repeat 0 11px; padding:0 0 0 7px;  display:inline;}
.m_bbs_zone .m_notice li  a {float:left; width:205px;  display:block; font-weight:normal; color:#ffffff;  font-size:12px; overflow: hidden; overflow-wrap: normal; text-overflow: ellipsis; white-space: nowrap; }
.m_bbs_zone .m_notice li .m_bbs_date {float:right; width:72px; display:block; color:#fff !important; text-align:right; font-weight:normal;  font-size:12px;}
.m_bbs_zone .m_notice h3 a:hover {text-decoration:none;}
.m_bbs_zone .m_notice .bbs_more {position:absolute; top:17px; right:14px; font-size:12px;}
.m_bbs_zone .m_notice .bbs_more a{color:#fff;}
.m_bbs_zone .m_notice li .c_y { float:left; color:#ffe04a; padding-right:5px;}



.m_bbs_zone .m_faq { float:left;  width:300px; margin:15px 0 0 20px; }
.m_bbs_zone .m_faq a {text-decoration:none;}
.m_bbs_zone .m_faq h3 { position:relative; border-bottom:1px solid #888; height:40px; line-height:40px;} 
.m_bbs_zone .m_faq h3 a strong {font-size:20px; color:#ffffff;  display:inline-block; margin-right:11px; font-weight:300;}
.m_bbs_zone .m_faq ul { overflow:hidden;   padding:0px; line-height:200%; font-size:12px;margin:0; padding:10px 0px 10px 0px;}
.m_bbs_zone .m_faq li {float:left; width:283px; background:url(../image/main/m_bbs_point.gif) no-repeat 0 11px; padding:0 0 0 7px; display:inline;}
.m_bbs_zone .m_faq li  a {float:left; width:185px;  display:block; font-weight:normal; color:#ffffff;  font-size:12px; overflow: hidden; overflow-wrap: normal; text-overflow: ellipsis; white-space: nowrap; }
.m_bbs_zone .m_faq li  span {float:right; width:72px; display:block; color:#ffffff; text-align:right; font-weight:normal;  font-size:12px;}
.m_bbs_zone .m_faq h3 a:hover {text-decoration:none;}
.m_bbs_zone .m_faq .bbs_more {position:absolute; top:17px; right:14px; font-size:12px;}
.m_bbs_zone .m_faq .bbs_more a{color:#fff;}

.m_bbs_zone .customer_center {width: 300px; height:180px; float: left;  padding:10px 20px 0 0px;}
.m_bbs_zone .customer_center h4 {width: 270px; color: #ffffff; font-size: 22px; font-weight: normal;}
.m_bbs_zone .customer_center h4 span {color:  #ffffff; font-size: 17px; padding-bottom:3px; display:block;}
.m_bbs_zone .customer_center .tell_wrap {/*background: url("../image/main/bg_cscenter.png") no-repeat 0px 7px;*/ margin-top: 12px;}
.m_bbs_zone .customer_center .tell_wrap span {color:  #ffffff; font-weight:300; display: block;}
.m_bbs_zone .customer_center .tell_wrap span i{color:#FFBB3D}
.m_bbs_zone .customer_center .tell {padding: 0px 0px 0px 0px; font-size: 26px;}
.m_bbs_zone .customer_center .tell a{padding: 0px; font-size: 26px; color:#fff;}
.m_bbs_zone .customer_center .fax {	padding: 0px 0px 0px 0px; font-size: 15px; margin-left:35px;}
.m_bbs_zone .customer_center .fax a{padding: 0; font-size: 15px; color:#fff;}
.m_bbs_zone .customer_center .date_wrap {margin-top: 10px; background:#616161; border:1px solid rgba(255,255,255,0.2); padding:10px 15px;}
.m_bbs_zone .customer_center .date_wrap li {line-height: 13px; overflow: hidden; clear: both;}
.m_bbs_zone .customer_center .date_wrap span {font-size: 12px; display: block;}
.m_bbs_zone .customer_center .date {/*background: url("../image/main/bg_cscenter_gray.png") no-repeat 0px 0px;*/ padding: 5px 0px; width:40px; color: #fff; 
						font-weight: 600; margin-right: 12px; float: left;}
.m_bbs_zone .customer_center .time {color: rgb(255, 255, 255); float: left; padding: 5px 0px;}


/* m_banner_zone */

.m_banner_zone {clear:both; height:440px;  position:relative; border:1px solid #d1d1d1; margin-bottom:42px;}
.m_banner_zone .main_banner_01 {position:absolute; top:0px; left:0px;}
.m_banner_zone .main_banner_02 {position:absolute; top:0px; left:334px;}
.m_banner_zone .main_banner_03 {position:absolute; top:219px; left:334px;}
.m_banner_zone .main_banner_04 {position:absolute; top:219px; left:668px;}





/****************** main_B ****************/

/* best_recom_B */
.m_contents_wrap_b {width:1000px; height: 100%; margin:60px auto 0 auto;  overflow:hidden;}

.m_contents_wrap_b a {display:block; cursor:pointer;background-color:#fff;}
.m_contents_wrap_b h3 {font-family: "notosans CJK"; font-size:18px;color:#4e4e4e;font-weight: 400;text-align:center;letter-spacing: 18px;text-transform: uppercase;padding-bottom:30px;}
/*.m_contents_wrap_b h3 span.color01 {color:#fe675d;}
.m_contents_wrap_b h3 span.color02 {color:#5091ff;}
.m_contents_wrap_b h3 span.color03 {color:#438e63;}*/

.m_contents_wrap_b .recom_tab {text-align:center; font-size:0}
.m_contents_wrap_b .recom_tab li {display:inline-block; zoom: 1; *display:inline; position:relative; text-align:center; margin-bottom:20px; font-size:13px;}
.m_contents_wrap_b .recom_tab li a {color:#2f2f2f; font-weight:400; height:45px; line-height:45px; background:#f3f3f3; padding:0 28px 0 28px;}
.m_contents_wrap_b .recom_tab li a:hover { color:#fff; background:#4e4e4e;}
.m_contents_wrap_b .recom_tab li.on a { color:#fff; background:#4e4e4e;}


/*main_visual*/
.main_visual_b {position:relative; height:588px; width:100%; text-align:center;}
.main_visual_b .img_area_wrap { position:absolute; width:2000px; top:0; left:50%; height:588px; margin-left:-1000px;  text-align:center;}
.main_visual_b .img_area_wrap .img_area {display:block; text-align:center;}
.main_visual_b .img_area_wrap .img_area li {width:2000px; height:588px; position:absolute; top:0; left:0;}
.main_visual_b .img_area_wrap .img_area li img {height:588px;}
.main_visual_b .img_area_wrap .bullet_area {text-align:center; position:absolute; bottom:22px; left:50%; width:1000px; z-index:100; margin-left:-500px; font-size:0;}
.main_visual_b .img_area_wrap .bullet_area li {display:inline-block; text-align:center; margin:0 2px}
.main_visual_b .img_area_wrap .bullet_area li a {display:block; background:url(../image/main_b/main_bullet.png) no-repeat 50% 50%; width:15px; height:15px; font-size:0;}
.main_visual_b .img_area_wrap .bullet_area li.on a {background:url(../image/main_b/main_bullet_on.png) no-repeat 50% 50%;}
.main_visual_b .img_area_wrap .arr01 {position:absolute; top:270px; left:500px;}
.main_visual_b .img_area_wrap .arr01 a {display:block;}
.main_visual_b .img_area_wrap .arr02 {position:absolute; top:270px; right:500px;}
.main_visual_b .img_area_wrap .arr02 a {display:block;}

/* m_best_deals_B */

.m_best_deals_b { position:relative; overflow:hidden; margin-bottom:15px;}
.m_best_deals_b .wide .m_best_info{width:661px !important;}
.m_best_deals_b li {float:left;}
*:first-child+html .m_best_deals_b li {margin-bottom:11px;}
.m_best_deals_b .m_best_info {position:relative; float:left; margin:0 11px 15px 0; width:324px; height:216px; background:#fff; position:relative; overflow:hidden;}
.m_best_deals_b .last { margin-right:-11px !important;}
.m_best_deals_b .m_best_info img {height:216px; -moz-transition: all 200ms linear;  -o-transition: all 200ms linear;-webkit-transition: all 200ms linear; transition: all 200ms linear;}
.m_best_deals_b .m_best_info .img a{;width:100%; height:216px; background:#ebebeb url(../image/common/no_img_text.png) no-repeat  center 50%;}
.m_best_deals_b .m_best_info:hover .img a:before{content:"";display:block; position:absolute; top:0; left:0; width:324px; height:216px; background:url(../image/main_b/expand.png) center 38% no-repeat;z-index:1; color:#fff;cursor:pointer;}
.m_best_deals_b .m_best_info:hover img {-moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); -webkit-transform: scale(1.1);transform: scale(1.1); cursor:pointer;}
.m_best_deals_b .m_best_info .context{position:absolute; bottom:0; left:0; width:100%; height:auto;}
.m_best_deals_b .m_best_info .context a{padding:5px 10px; height:28px; background:rgba(0,0,0,0.5); z-index:99; overflow: hidden; -moz-transition: all 200ms linear; -o-transition: all 200ms linear; -webkit-transition: all 200ms linear; transition: all 200ms linear;}
.m_best_deals_b .m_best_info:hover .context a{height:80px; background:rgba(0,0,0,0.7);}
.m_best_deals_b .m_best_info .context .tit{font-size:15px;line-height:30px; color:#fff; font-weight:500; display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.m_best_deals_b .m_best_info .context .txt {font-size:12px; line-height:20px; opacity:0.7; display:block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin:1px 0 -2px 0; color:#fff;}
.m_best_deals_b .m_best_info .context .price {float:right; font-size:17px; color:#f79921; margin-top:6px; font-weight:600; display:block; padding:0; font-family:'Spoqa Han Sans';}
.m_best_deals_b .m_best_info .context .price .txt_price {color:#f79921}

/* m_banner_zone_B */

.m_banner_wrap_b {background:#f0f0f0; overflow:hidden; width:100%; height:470px;}
.m_banner_wrap_b .main_banner_list {position:relative; width:1000px; height:302px;}
.m_banner_wrap_b .main_banner_01 {position:absolute; top:0px; left:0px;}
.m_banner_wrap_b .main_banner_02 {position:absolute; top:0px; right:0px;}
.m_banner_wrap_b .main_banner_03 {position:absolute; bottom:0px; right:0px;}
.m_banner_wrap_b .main_banner_01:hover a{background:url(../image/main/banner01_bg.png) no-repeat;}
.m_banner_wrap_b .main_banner_02:hover a{background:url(../image/main/banner02_bg.png) no-repeat;}
.m_banner_wrap_b .main_banner_03:hover a{background:url(../image/main/banner03_bg.png) no-repeat;}


/* m_recommend_B */

.m_recommend_b {position:relative; overflow:hidden; margin-bottom:35px;}
.m_recommend_b .m_recom_info {clear:both;}
.m_recommend_b .m_recom_info li {float:left; margin-right:11px; width:324px; height:348px; background:#fff; border:1px solid #d1d1d1;  overflow:hidden;}
.m_recommend_b .last { margin-right:-11px !important;}
.m_recommend_b .m_recom_info dt { width:324px; height:216px; position:relative; background:#ebebeb url(../image/common/no_img_text.png) no-repeat  center 50%; overflow:hidden;}
.m_recommend_b .m_recom_info dt img {
height:216px;
-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;}
.m_recommend_b .m_recom_info a:hover dt img {
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);}
.m_recommend_b .m_recom_info dd {padding:0 15px 0 15px;}
.m_recommend_b .m_recom_info dd .tit { font-size:15px; color:#353e44; font-weight:600; display:block; padding:15px 0 10px 0;}
.m_recommend_b .m_recom_info dd .txt {color:#636262; font-size:13px; line-height:20px; display:block; padding-bottom:10px; overflow:hidden; height:34px;}
.m_recommend_b .m_recom_info dd .price { float:right; font-size:19px; color:#f79921; font-weight:600; display:block; font-family:'Spoqa Han Sans'; padding:5px 0 0 0;}
.m_recommend_b .m_recom_info dd .text1 { font-size:16px; color:#f79921; font-weight:600; display:inline-block; height:25px; line-height:25px; padding:0 5px 0 2px;}

.m_recommend_b .m_recom_info dt .flag_best {position:absolute; top:0px; left:14px; display:block; width:35px; height:47px; text-align:center; padding-top:3px;}
.m_recommend_b .m_recom_info dt .flag_best .txt {color:#fff17f; font-family:Tahoma; font-size:10px; display:block;  }
.m_recommend_b .m_recom_info dt .flag_best .num {color:#fff; font-family:Verdana; font-size:18px; font-weight:bold;display:block; margin-top:-3px; }
.m_recommend_b .m_recom_info dt #f_best1 { background:url(../image/main/bg_best_red.png) no-repeat  0 0;}
.m_recommend_b .m_recom_info dt #f_best2 { background:url(../image/main/bg_best_blue.png) no-repeat  0 0;}
.m_recommend_b .m_recom_info dt #f_best3 { background:url(../image/main/bg_best_yellow.png) no-repeat  0 0;}


/* m_bbs_wrap_B */

.m_bbs_wrap_b  {clear:both; background:#fff; width:100%; overflow:hidden;  position:relative;}
.m_bbs_zone_b { margin:0 auto; width:938px; padding:20px 30px; border:1px solid #e2e2e2; height:195px; margin-bottom:30px;}

.m_bbs_zone_b h4 { position:relative; height:40px; line-height:40px; font-size:14px; color: #494949; font-weight: 500; border-bottom:1px solid #ededed;} 
.m_bbs_zone_b .bbs_more {position:absolute; top:8px; right:0px; }


.m_bbs_zone_b .customer_center {width: 290px; height:180px; float: left;}
.m_bbs_zone_b .customer_center .tell_wrap {background: url("../image/main_b/bg_cscenter.png") no-repeat 0px 7px; margin-top: 12px; }
.m_bbs_zone_b .customer_center .tell_wrap span {font-weight: 600; display: block;}
.m_bbs_zone_b .customer_center .tell {padding: 0px 0px 0px 40px; font-size: 26px; color:#fe675d;}
.m_bbs_zone_b .customer_center .tell a{padding: 0px; font-size: 26px;}
.m_bbs_zone_b .customer_center .fax {	padding: 1px 0px 0px 42px; font-size: 15px;  color:#848484 }
.m_bbs_zone_b .customer_center .fax a{padding: 0; font-size: 15px; color:#494949;}
.m_bbs_zone_b .customer_center .date_wrap {margin-top: 10px; background:#f5f5f5; border-radius:5px; overflow:hidden; padding:13px 18px;}
.m_bbs_zone_b .customer_center .date_wrap .tit {float:left; width:62px; font-weight:500; font-size:12px;}
.m_bbs_zone_b .customer_center .date_wrap dl {float:left; margin-top:1px;}
.m_bbs_zone_b .customer_center .date_wrap dd {line-height: 13px; font-size:12px; overflow: hidden; clear: both; margin-top:5px;}
.m_bbs_zone_b .customer_center .date_wrap dd:first-child {margin-top:0;}


.m_bbs_zone_b .m_notice { float:left;  width:290px; height:200px; margin:0 34px;} 
.m_bbs_zone_b .m_notice a {text-decoration:none;}
.m_bbs_zone_b .m_notice ul { overflow:hidden;   line-height:200%; font-size:12px; margin:0; padding:10px 0px 10px 0px;}
.m_bbs_zone_b .m_notice li {float:left; width:283px; background:url(../image/main/m_bbs_point.gif) no-repeat 0 11px; padding:3px 0 0 2px;  display:inline;}
.m_bbs_zone_b .m_notice li  a {float:left; width:205px;  display:block; font-weight:normal; color:#969696;  font-size:12px; overflow: hidden; overflow-wrap: normal; text-overflow: ellipsis; white-space: nowrap; }
.m_bbs_zone_b .m_notice li .m_bbs_date {float:right; width:72px; display:block; color:#969696 !important; text-align:right; font-weight:normal;  font-size:12px;}
.m_bbs_zone_b .m_notice h3 a:hover {text-decoration:none;}
.m_bbs_zone_b .m_notice li .c_y { float:left; color:#fe675d; padding-right:5px;}



.m_bbs_zone_b .m_faq { float:left;  width:290px; height:200px;}
.m_bbs_zone_b .m_faq a {text-decoration:none;}
.m_bbs_zone_b .m_faq ul { overflow:hidden;   padding:0px; line-height:200%; font-size:12px;margin:0; padding:10px 0px 10px 0px;}
.m_bbs_zone_b .m_faq li {float:left; width:283px; background:url(../image/main/m_bbs_point.gif) no-repeat 0 11px; padding:3px 0 0 2px; display:inline;}
.m_bbs_zone_b .m_faq li a {float:left; width:185px;  display:block; font-weight:normal; color:#969696;  font-size:12px; overflow: hidden; overflow-wrap: normal; text-overflow: ellipsis; white-space: nowrap; }
.m_bbs_zone_b .m_faq li span {float:right; width:72px; display:block; color:#969696; text-align:right; font-weight:normal;  font-size:12px;}
.m_bbs_zone_b .m_faq h3 a:hover {text-decoration:none;}


/* common 버튼 */
.common_btn {display:inline-block; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px; border:1px solid #cfcfd1; color:#333; cursor:pointer; text-align:center;  
padding:2px 3px 3px 3px; font-size:inherit; background:#f1f1f1;}
.common_btn.red {background:#fff7f7; border:1px solid #f1a3a7; color:#cf2d36;}
.common_btn.blue {background:#f1f6fc; border:1px solid #88bbef; color:#1c67a5;}
.common_btn.green {background:#f3fcf8; border:1px solid #92ceb1; color:#2a7c57;}
.common_btn.red2 {background:#e3434b; border:1px solid #e3434b; color:#fff;}
.common_btn.blue2 {background:#3a73cc; border:1px solid #3a73cc; color:#fff;}
.common_btn.green2 {background:#555; border:1px solid #555; color:#fff;}
.common_btn.gray {background:#555; border:1px solid #555; color:#fff;  }



