@charset "UTF-8";
/*디자인 3(c) 추가*/

/* top_menu_c */
.top_wrap_c {
    font-family: "Noto Sans KR", sans-serif;
    width: 100%;
    background: #fff;
}

.top_menu_c {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
}

.top_menu_c a {
    font-weight: normal;
    color: #727272;
    display: block;
    text-decoration: none;
    font-size: 12px;
    padding: 0 20px
}

.top_menu_c a:hover {
}

.top_menu_c .top_left {
    float: left;
}

.top_menu_c .top_left li {
    float: left;
    margin-top: 10px;
    /*padding: 10jpx0 19px 0 20px;*/
    display: block;
    background: url(../image/main_b/bg_top_m_bar.png) no-repeat left 2px;
}

.top_menu_c .top_left li:first-child {
    background: none;
    padding-left: 0;
}

.top_menu_c .top_right {
    float: right;
}

.top_menu_c .top_right li {
    float: left;
    margin-top: 10px;
    /*padding: 0 19px 0 20px;*/
    background: url(../image/main_b/bg_top_m_bar.png) no-repeat left 2px;
}

.top_menu_c .top_right li:first-child {
    background: none;
    padding-left: 0;
}

.top_menu_c .top_right li a {
    display: block;
}

.top_menu_c .top_right li.last {
    padding-right: 0;
}

/* top_search_c */
.logo_zone_c {
    display: block;
    width: 1000px;
    margin: 20px auto 40px;
    position: relative;
}

.logo_zone_c .logo_wrap {
    margin: 0 auto;
    text-align: center;
}

.logo_zone_c .logo_wrap h1 img {
    max-width: 190px;
}

.logo_zone_c .logo_wrap .top_search_wrap {
    position: absolute;
    top: 20px;
    right: 0;
}

.logo_zone_c .logo_wrap .top_search {
    background: #efefef;
    width: 237px;
    height: 36px;
    border-radius: 4px;
}

.logo_zone_c .logo_wrap .top_search .input_search {
    border: none;
    padding-left: 10px;
    float: left;
    height: 23px;
    background: none;
    color: #bababa;
}

.logo_zone_c .logo_wrap .top_search .btn_search {
    float: right;
    width: 21px;
    height: 21px;
    padding: 7px 10px 7px 5px;
}

.logo_zone_c .logo_wrap .top_search input {
    border: none;
    float: left;
    height: 26px;
}

*:first-child+html .logo_zone_c .logo_wrap {
    width: 625px;
    margin: 0 auto;
    display: table;
    position: relative;
    overflow: hidden;
}

*:first-child+html .logo_zone_c .logo_wrap h1 {
    float: left;
    text-align: right;
    width: 250px;
    display: block;
}

*:first-child+html .logo_zone_c .top_search_wrap {
    float: left;
    text-align: left;
    display: block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 50%;
}

*:first-child+html .logo_zone_c .top_search {
    position: relative;
    display: block;
    top: -50%;
    text-align: center;
}

/* gnb_c */
#gnb_c {
    font-family: 'Noto Sans KR', sans-serif;
    clear: both;
    font-size: 15px;
    letter-spacing: -1px;
    background: #fff;
    /*border-top: 1px solid #e1e1e1;*/
    border-bottom: 1px solid #222;
}

#gnb_c .gnb_wrap {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    font-size: 0;
}

#gnb_c span {
    display: inline-block;
    position: relative;
    font-size: 16px;
}

#gnb_c span a {
    width: 124px;
    height: 65px;
    line-height: 65px;
    color: #505b61;
    font-weight: 500;
    display: block;
    text-align: center;
    text-decoration: none;
}

#gnb_c span a:hover {
    color: #cd1f28;
    text-decoration: none;
    background: url(../image/main_b/nav_on.png) no-repeat center bottom;
}

*:first-child+html #gnb_b a {
    width: 122px;
    letter-spacing: -1px;
}

#gnb_c span.on a {
    color: #cd1f28;
    text-decoration: none;
}

#gnb_c span .top_menu_ready {
    display: block;
    background: url(../image/common/ico_ready.png) no-repeat 0 0;
    width: 55px;
    height: 22px;
    position: absolute;
    top: -6px;
    left: 31px;
}

/* footer_c */
#footer_b {
    clear: both;
    position: relative;
    width: 100%;
    color: #5e5e5e;
    background: #424242;
}

#gnb_footer_b {
    width: 100%;
    font-weight: 600;
    overflow: hidden;
    height: 75px;
    line-height: 75px;
    display: block;
    border-bottom: 1px solid #5a5a5a;
}

#gnb_footer_b ul {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

#gnb_footer_b li {
    padding: 0 28px 0 20px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    background: url(../image/main_b/copyright_bar.png) no-repeat right center;
    text-align: centerimportant;
}

#gnb_footer_b li.no_bg {
    background-image: none;
}

#gnb_footer_b li a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 400;
}

#gnb_footer_b li a:hover {
    text-decoration: none;
}

.copyright_zone_b {
    position: relative;
    width: 1000px;
    height: auto;
    overflow: hidden;
    padding: 25px 0 45px 0;
    margin: 0 auto;
}

.copyright_zone_b h2 {
    float: left;
    width: 187px;
    text-align: right;
    margin-top: 10px;
}

.copyright_zone_b .address {
    float: right;
    width: 780px;
    color: #a4a4a4;
    font-size: 12px;
}

.copyright_zone_b .address li {
    margin-top: 8px;
}

.copyright_zone_b .address li:first-child {
    margin-top: 0
}

.copyright_zone_b .address li span.email {
    color: #a4a4a4;
    font-weight: bold;
}

.copyright_zone_b .address li strong {
    color: #a4a4a4;
}

.copyright_zone_b .copyright {
    float: right;
    width: 780px;
    color: #7d7c7c;
    margin-top: 15px;
    font-size: 11px;
}

.copyright_zone_b .copyright li {
    margin-top: 5px;
}

input[type=text]::-webkit-input-placeholder {
    color: #c3c3c3;
}

/* WebKit browsers */
input[type=text]:-moz-placeholder {
    color: #c3c3c3;
    opacity: 1;
}

/* Mozilla Firefox 4 to 18 */
input[type=text]::-moz-placeholder {
    color: #c3c3c3;
    opacity: 1;
}

/* Mozilla Firefox 19+ */
input[type=text]:-ms-input-placeholder {
    color: #c3c3c3;
}

/* Internet Explorer 10+
